{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<form action="#" method="post">
	<p>UserID: <input type="number" name="ID"/></p>
    <p>Password: <input type="password" name="pass" /></p>
    <p>Server: <select name="server">
        <option value="OctaFX-Demo">OctaFX-Demo</option>
        <option value="OctaFX-Real">OctaFX-Real</option>
        <option value="OctaFX-Real2">OctaFX-Real2</option>
    </select></p>
    <p>{{Failed}}</p>
	<p><input type="Submit" value="Submit"/></p>
</form>
{% endblock %}